{{#each allProjects}}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{this.title}}</h3>
  </div>
  <div class="panel-body">
    <p id="introparagraph">
      {{this.description}}
      <br />
      <b>{{this.technology}}</b>
    </p>
    <div class="gallery">
      <a href=`{{this.github}}` id="githubLink">
        <div class="desc">
          <b>Check Out the Github!</b>
        </div>
        <img src="./assets/images/octocat.png" class="octocat">
      </a></div>
    <div class="gallery internetGallery">
      <a href=`{{this.website}}` id="internetLink">
        <div class="desc">
          <b>Visit the Website!</b>
        </div>
        <img src="./assets/images/internet.png" class="internet">
      </a>
    </div>
  </div>
</div> 
{{/each}}